html{
	min-width:1024px;
	font-size:14px;
}
body{
	margin:0;
}
.hide{
	display:none!important;
}
.layout{
	width:1024px;
	margin:0 auto;
	padding-left:15px;
	padding-right:15px;
}
.center{
	text-align:center;
}
button.active.focus, button.active:focus,button.focus, button:active.focus,button:active:focus, button:focus {
	outline:none;
}
.clear{
	&:after{
		content:"";
		display:block;
		clear:both;
		height:0;
		overflow:hidden;
		visibility:hidden;
	}
}






$c-border:#cdcdcd;
$w-col:165px;
$w-col-sm:120px;
$w-col-lg:$w-col * 5 - 4 * $w-col-sm;
.gt-row{
	white-space: nowrap;
	display: -ms-inline-flexbox;
	display: inline-flex;
	border-left:1px $c-border solid;
	&:first-child{
		border-top:1px $c-border solid;
	}
	&.head{
		background:#cdcdcd;
		font-weight:600;
	}
	&.disable{
		background:#eee;
	}
	&:after{
		content:"";
		display:block;
		clear:both;
		height:0;
		overflow:hidden;
		visibility:hidden;
	}
}
.gt-col{
	width: $w-col;
	float: left;
	line-height:2.1;
	padding: 5px;
	white-space: normal;
	white-space: pre-line;
	word-break:break-word;
	border-right:1px $c-border solid;
	border-bottom:1px $c-border solid;

	display:flex;
	justify-content:center;
	align-items:center;
	font-size:0.9rem;
	img{
		max-width:100px;
	}
}
.gt-col-sm{
	width:$w-col-sm;
}
.gt-col-lg{
	width:$w-col-lg;
	font-size:1rem;
	line-height:1.42857143;
}
.gt-col-db{
	width:2*$w-col;
}
@for $i from 1 through 12{
	.gt-col-#{$i}{
		width:$i*165px*6/12;
	}
}



.el-dialog__body{
	padding:10px 20px;
}
.el-loading-mask{
    font-size:2rem;
	.el-loading-spinner .el-loading-text{
        font-size:1.0rem;
    }
}
.el-popover{
	background:#333;
	color:#fff;
	border:1px solid darken(#333,10%);
}
.el-popper[x-placement^="top"]:not(.el-select-dropdown) .popper__arrow{
	border-top-color:darken(#333,10%);

	&::after{
		border-top-color:#333;
	}
}
.el-popper[x-placement^="bottom"]:not(.el-select-dropdown) .popper__arrow{
	border-bottom-color:darken(#333,10%);

	&::after{
		border-bottom-color: #333;
	}
}
body .btn-outline-primary{
	color: var(--el-color-primary-darken);
    border-color: var(--el-color-primary-darken);
	&:hover,&:not(:disabled):not(.disabled):active{
		color: #fff;
		background-color: var(--el-color-primary-darken);
		border-color: var(--el-color-primary-darken);
	}
	&:focus,&:not(:disabled):not(.disabled):focus:active{
		// box-shadow: none;
		box-shadow: 0 0 0 0.2rem var(--el-color-primary-transparent);
	}
}
body .form-control{
	&:focus{
		border-color:var(--el-color-primary-darken);
		box-shadow:0 0 0 0.2rem var(--el-color-primary-transparent);
	}
}
@media print{
	.print-hide{
		display:none!important;
	}
}